* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    background: #202020;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: calc(.5em + 2vw);
    padding: 0 1rem;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid white;
}

header {
    padding: 6rem 1rem;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section {
    padding: 2% 1rem;
    margin: 1rem;
    width: 45%;
    border: 1px solid #202020;
    border-radius: 5px;
}

section p {
    padding-left: 3%;
}

footer {
    text-align: center;
    background: #202020;
    color: white;
}