* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

nav {
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    background: #202020;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-size: 30px;
    border-inline: 1px solid white;
    padding: 0 1rem;
    color: rgb(255, 255, 255);
}

header {
    padding: 5% 0;
    padding-top: 5rem;
}

section {
    padding: 2% 0;
}

section div {
    padding-left: 3%;
}
section ol {
    padding-left: 3%;
}

footer {
    text-align: center;
    background: rgb(121, 109, 109)
}